<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Kitchen Counter!</title>

    <link rel="stylesheet" href="assets/css/style.css" media="screen">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

  </head>
  <body>

    <div class="frame"></div>

    <div class="main">
      <h1 class="jumbotron" style='font-family:Georgia; font-style:italic'>Welcome to Kitchen Counter!</h1>
      <h4>Login to manage your ingredients.</h4>

      <br>

      <a href="/login" class="btn btn-primary btn-lg">Login</a>

      <br>
      <br>

      <a href="/signup" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Sign Up</a>

    </div>

  </body>
</html>
