<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>profile.ejs</title>

    <link rel="stylesheet" href="assets/css/style.css" media="screen">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

  </head>
  <body>

    <div class="header">Kitchen Counter</div>

    <div class="content">

        <h2>Welcome, <%= user.local.email %>!</h2>
        <a href='/logout'>Log Out</a>

        <hr>

        <a href='/matches' class="btn btn-default">Find matching recipes</a>

        <hr>

        <h5>Your ingredients:</h5>

        <table class='table table-striped'>
          <tr>
            <th>Name</th>
            <th>Action</th>
          </tr>
          <% for (i=0; i < user.local.ingredients.length; i++) { %>
          <tr>
            <td><%= user.local.ingredients[i] %></td>
            <td><a href='/deleteIng/<%= user.local.ingredients[i]%>/<%= i %>'>Remove</a></td>
          </tr>
          <% } %>
        </table>

        <form action="/addIng" method="post">
          <input type="text" name="ingredient" placeholder='apples'>
          <button type="submit" class="btn btn-success btn-xs">Add Ingredient</button>
        </form>

    </div>

  </body>
</html>
